# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# Env
.env
.venv/

# Logs
*.log
backend/logs/*
!backend/logs/.gitkeep

# ML artifacts
backend/models/*.pkl
backend/models/*.pt
backend/models/*.pth

# Test / cache
.pytest_cache/

# IDE
.vscode/
.idea/
